h1{
    color: white;
    background-color: rgb(147,213,203);
    text-align: center;
    padding: 30px;
}
#c0{
    color: white;
}
#s1{
    display: flex;
    justify-content: space-evenly;
    
}
#s2{
    display: flex;
    justify-content: space-evenly;
}
#s3{
    display: flex;
    justify-content: space-evenly;
}
body{
    background-image: url(https://i.pinimg.com/736x/cd/f4/84/cdf48431e65c664ca612cd2a336b0f1b.jpg);
}
#c1,#c2,#c3{
        color: white;
        background: linear-gradient(45deg, rgb(147,213,203), rgb(74, 207, 196));
        text-align: center;
        padding: 10px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        font-family: 'Arial Rounded MT Bold', sans-serif;
    }
